db.sqlite3
.env
__pycache__/
*.pyc
.DS_Store
assets/fonts/inter/extras/
assets/fonts/inter/web/


# .gitignore
# Sanal ortam ve diğer gizli dosyalar
sanal/
venv/
.env
*.env*
db.sqlite3
*.sqlite3
*.db
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.tmp
*.swp
assets/fonts/inter/extras/
assets/fonts/inter/web/
node_modules/
package-lock.json
migrations/
.ipynb_checkpoints/

# Kişisel rehber dosyası
guide.md

